header {
    background-color: #FFCC99;
    font-weight: 700;
    text-align: center;
}

header, footer {
    box-shadow: black 5px 5px;
}
main {
    background-color: #E6F2FF;
    display: flex;
}

aside {
    background-color: #B3D9FF;
    flex: 1;
}

aside, footer {
    border: 1px solid #CCC;
}
section {
    flex: 3;
    margin: 20px;

}

footer {
    background-color: #99CC99;
}